.main-nav {
    width: 70vw;
    margin: 0 auto;
    margin-top: 100px;
    display: block;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item {
        background-color: #241e20;
        text-align: center;
        cursor: pointer;
        outline: none;
        width: 32.3%;
        margin-bottom: 30px;
        margin-right: 2px;
        border: 2px solid #030302;
        border-radius: 5px;
        -webkit-box-shadow: 13px 9px 20px -3px rgba(104,96,96,0.76);
        box-shadow: 13px 9px 20px -3px rgba(104,96,96,0.76);

        &.active {
            background-color: #5a4940;
        }

        &:hover {
            background: #5a4940;
        }
    }

    .nav-link {
        display: inline-block;
        padding: 30px;
        margin: 0 15px;
        color: rgb(185, 171, 152);
        font-size: 25px;

        &::first-letter {
            text-transform: uppercase;
        }

    }


}

.container {
    width: 70vw;
    margin: 2rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .movie-details {
        position: relative;
        cursor: pointer;

        &__img {
            height: auto;
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 10px;
            border: 1px solid #ececec;

            &:active {
                outline: none;
            }
        }

        &__name {
            position: absolute;
            top: 2px;
            right: 0;
            background: #FFD362;
            border-radius: 3px 0 0 3px;
            padding: .8rem;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 14px;
        }

        &__rate {
            position: absolute;
            bottom: 8px;
            left: 16px;
            background: #C31D28;
            border-radius: 5px;
            padding: .5rem;
            font-size: 15px;
            line-height: 14px;
        }

    }

}
