<div class="search">
    <input type="text" [(ngModel)]="searchItem" placeholder="Search for your favourite movie...">
</div>

<nav class="main-nav">
    <ul class="main-nav__items">
        <li class="main-nav__item"
            *ngFor="let type of genreTypes | keyvalue"
            [routerLink]="" [queryParams]="{genre: type.key}"
            [class.active]="genre === type.key">
            <a class="nav-link">
                <span>{{type.key}}</span>
            </a>
        </li>
    </ul>
</nav>

<div class="container">
    <div *ngFor="let movie of movies | search: searchItem">
        <div class="movie-details">
            <img class="movie-details__img" [src]="movie.img" [alt]="movie.name" routerLink="movie/{{movie.id}}">
            <p class="movie-details__name">{{movie.name}}</p>
            <p class="movie-details__rate" >{{ movie.rate }}</p>
        </div>
    </div>
</div>
